.Footer {
  height: 350px;
  /* width: 100%; */
  border: 2px solid black;
  display: flex;
  align-items: center;
  background-color: #212731;
  justify-content: space-evenly;
  color: #b6bdc4;
}

.Footer div {
  height: 200px;
  width: 100%;
}

.category p,
h4 {
  margin-top: 15px;
  margin-left: 10%;
}

.contact p,
h4 {
  margin-top: 15px;
  margin-left: 10%;
}

.us p {
  margin-top: 15px;
  margin-left: 100px;
  margin-top: 100px;
}

.Footer p:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .Footer {
    width: 144cqb;
  }
}
